strong{
    color : rgb(51, 255, 0);    
}

body{
    text-align: center;
}

h1{
    order: -1;
}

body{
    display: flex;
    flex-direction: column;
}

button{
    margin: auto;
}


ul{
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

p{
    margin: 0;
    
}